<!-- BANNER -->		
<section id="banner" style="background-attachment: scroll, scroll, scroll, fixed;">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <h2 style="font-size:3em; text-transform:lowercase">sara gong</h2>
        <p style="text-transform:lowercase">part-time economist, part-time programmer, full-time dreamer</p>

    </div>

</section>